<div class="calc-body col-xs-offset-3 col-xs-6">
    <div class="panel">
        <div class="panel-body">
            <div class="panel-body">
                <div class="row calc-row">
                    <div class="col-xs-12">
                        <input class="form-control calc-display" ng-model="$ctrl.calculon.data.value" ng-readonly="true" />
                    </div>
                </div>
                <div class="row calc-row">
                    <div class="col-xs-6">
                        <button class="btn btn-default calc-switch-btn" ng-show="$ctrl.calculon.data.sci" ng-click="$ctrl.calculon.toggleSci()">
                            Switch to Standard
                        </button>
                        <button class="btn btn-default calc-switch-btn" ng-show="!$ctrl.calculon.data.sci" ng-click="$ctrl.calculon.toggleSci()">
                            Switch to Scientific
                        </button>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-default calc-btn btn-block" ng-show="$ctrl.calculon.data.sci">
                            (
                        </button>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-default calc-btn btn-block" ng-show="$ctrl.calculon.data.sci">
                            )
                        </button>
                    </div>
                </div>
                <div class="row calc-row">
                    <div class="col-xs-3">
                        <button class="btn btn-default calc-btn btn-block">
                            x<sup>2</sup>
                        </button>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-default calc-btn btn-block">
                            x<sup>y</sup>
                        </button>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-default calc-btn btn-block">
                            ?
                        </button>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-default calc-btn btn-block">
                            C  
                        </button>
                    </div>
                </div>
                <div class="row calc-row">
                    <div class="col-xs-3">
                        <button class="btn btn-default calc-btn btn-block">
                            7
                        </button>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-default calc-btn btn-block">
                            8
                        </button>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-default calc-btn btn-block">
                            9
                        </button>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-default calc-btn btn-block">
                            ÷  
                        </button>
                    </div>
                </div>
                <div class="row calc-row">
                    <div class="col-xs-3">
                        <button class="btn btn-default calc-btn btn-block">
                            4
                        </button>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-default calc-btn btn-block">
                            5
                        </button>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-default calc-btn btn-block">
                            6
                        </button>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-default calc-btn btn-block">
                            x  
                        </button>
                    </div>
                </div>
                <div class="row calc-row">
                    <div class="col-xs-3">
                        <button class="btn btn-default calc-btn btn-block">
                            1
                        </button>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-default calc-btn btn-block">
                            2
                        </button>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-default calc-btn btn-block">
                            3
                        </button>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-default calc-btn btn-block">
                            -  
                        </button>
                    </div>
                </div>
                <div class="row calc-row">
                    <div class="col-xs-3">
                        <button class="btn btn-default calc-btn btn-block">
                            .
                        </button>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-default calc-btn btn-block">
                            0
                        </button>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-default calc-btn btn-block">
                            =
                        </button>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-default calc-btn btn-block">
                            +  
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>